target/
!.mvn/wrapper/maven-wrapper.jar
local/

### STS ###
.DS_Store
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.py

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
node_modules/
.nb-gradle/
target/
.mvn/
